---
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";
import "../styles/global.scss";
import "../styles/blog.scss";

const blogEntries = await getCollection("blog");
---

<html lang="en">
  <head>
    <title>Blog</title>
    <script src="../scripts/sounds.js"></script>
  </head>
  <body>
    <h1 class="BlogTitle">Blog List WIP</h1>
    <div class="BlogList">
      {
        blogEntries.map((entry: any) => (
          <div class="BlogItem">
            {/* <p>Debug ID: {entry.id}</p> */}
            <Image src={entry.data.blogIcon} alt="Blog Icon" class="BlogIcon" />
            <div class="BlogWrapper">
            <a href={`/blog/${entry.id}`} data-sfx-hover data-sfx-click>
              {entry.data.blogTitle} |
              {entry.data.blogDate.toLocaleDateString("en-US", {
                month: "2-digit",
                day: "2-digit",
                year: "2-digit",
              })}{" "}
              |
              {entry.data.blogTag.map((tag: string) => (
                <span style="display: inline;"># {tag}</span>
              ))}
            </a>
            </div>
          </div>
        ))
      }
    </div>
    <a href="/"
      ><img
        class="HomeIcon"
        src="/icons/Home.png"
        data-sfx-hover
        data-sfx-click="home"
      /></a
    >
  </body>
</html>
